@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mainfont'; 
  src: url('/fonts/Enchanted_Land.otf') format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "mainfont";
  background: linear-gradient(45deg, #00000051, #00000051), url("/assets/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  color: #fff;
}


wallet-address {}